@model List<EmployeeManagement.ViewModels.Employee.ListViewModel>

<table class="table">
    <a asp-route="Employee-add" target="_blank" class="btn btn-secondary">Add Employee</a>

    <thead>
        <tr>
            <th scope="col">EmployeeCode</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">FatherName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employeeModels in Model)
        {
            @if (employeeModels.IsDeleted == false)
            {
                <tr>
                    <th scope="row">@employeeModels.EmployeeCode</th>
                    <td>@employeeModels.FirstName</td>
                    <td>@employeeModels.LastName</td>
                    <td>@employeeModels.FatherName</td>
                    <td>
                        <a asp-route="Employee-delete" asp-route-empcode="@employeeModels.EmployeeCode" class="btn btn-secondary">Delete Employee</a>
                        <a asp-route="Employee-edit-employeeCode" asp-route-empcode="@employeeModels.EmployeeCode" target="_blank" class="btn btn-secondary">Update Employee</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>